body {
    background-image: url('./img/background.jpeg');
    display: block;
    background-size:auto;
}

.score {
    display: flex;
    justify-content: space-around;
}

.scorePlyer{
    background-color: green;
    border: solid 2px white;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.numberScore {
    margin-left: 10px;
    color: white;
}

.title {
    font-style: italic;
    font-family: fantasy;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 30px;
    color:black;
    background-color: green;
    border: solid 2px white;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    border-radius: 25px;
    width: 600px;
}

.selection {
    text-align: center;
    font-style: oblique;
    font-weight: 85px;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.cars {
    display: flex;
    justify-content: center;
    
}

.car1 {
    background-image: url('./img/Mario.gif');
    background-size: cover;
    width: 180px;
    height: 152px;;
    display: inline-block;
}

.car2 {
    background-image: url('./img/Luigi.gif');
    background-size: cover;
    width: 180px;
    height: 152px;;
    display: inline-block;
}

.car3 {
    background-image: url('./img/Princesa.gif');
    background-size: cover;
    width: 180px;
    height: 152px;;
    display: inline-block;
}

.car4 {
    background-image: url('./img/Browser.gif');
    background-size: cover;
    width: 180px;
    height: 152px;;
    display: inline-block;
}

.btn {
    text-align: center;
}

button {
    margin-top: 15px;
    font-size: xx-large;
    background-color: green;
    color: black;
    padding: 15px;
    border-radius: 25px;
    text-shadow: 1px 1px rgb(255, 255, 255);
    border: solid 2px white;
}

button:active{
    border: solid 1px greenyellow;
}

.running {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.startCar1 {
    background-image: url('./img/question.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 40px;
}
.startCar2 {
    background-image: url('./img/question.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 75px;
}
